<app-dream-blackquote
  text="Uważaj z wyborem marzeń. Marzenia się czasem spełniają."
  author="Stanisław Jerzy Lec"
></app-dream-blackquote>

<div class="row">
  <div class="col-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="title">Tutuł</label>
      <input
        id="title"
        formControlName="title"
        [(ngModel)]="goal.title"
        type="text"
        class="form-control border-teal"/>
      <div class="text-danger" *ngIf="title.invalid && title.touched">
        Ładny tytuł zachęci do podróży!
      </div>

      <label for="localization">Lokalizacja</label>
      <input
        id="localization"
        formControlName="localization"
        [(ngModel)]="goal.localization"
        type="text"
        class="form-control border-teal"/>
      <div class="text-danger" *ngIf="localization.invalid && localization.touched">
        Lokazlizacja się przyda, nie będziesz siedział cały czas w domu!
      </div>

      <label for="imageUrl">Url Zdjęcia</label>
      <input
        id="imageUrl"
        formControlName="imageUrl"
        [(ngModel)]="goal.imgUrl"
        type="text"
        class="form-control border-teal"/>
      <div class="text-danger" *ngIf="imageUrl.invalid && imageUrl.touched">
        Wklej zdjęcie, też chce się nacieszyć tym widokiem!
      </div>

      <div class="row mt-4">
        <div class="col-6">
          <div *ngIf="goal.status == 1">
            <label for="rating">Ocena</label>
            <input
              id="rating"
              formControlName="rating"
              [(ngModel)]="goal.rating"
              type="number"
              class="form-control border-teal"
              (change)="arrangeArrays()"
            />
            <div class="text-danger" *ngIf="rating.invalid && rating.touched">
              <div *ngIf="rating.errors.required" >Wpisz ocenę</div>
              <div *ngIf="rating.errors.min || rating.errors.max">Ocena powinna być z przedziału od 1 do 6</div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <mat-form-field appearance="fill">
            <input
              if="dateOfRealization"
              matInput [matDatepicker]="picker"
              formControlName="dateOfRealization"
              [(ngModel)]="goal.dateOfRealization"
              type="text"
              class="form-control border-teal">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="dateOfRealization.invalid && dateOfRealization.touched">
            Wybierz date
          </div>
        </div>
      </div>

      <div *ngIf="goal.status == 1">
        <label for="feelings">Odczucia</label>
        <input
          id="feelings"
          formControlName="feelings"
          [(ngModel)]="goal.feelings"
          type="text"
          class="form-control border-teal"/>
        <div class="text-danger" *ngIf="feelings.invalid && feelings.touched">
          Wpisz najważniejsze myśli
        </div>
      </div>

      <div class="form-group">
        <label for="description">Opis</label>
        <textarea
          id="description"
          formControlName="description"
          [(ngModel)]="goal.description"
          type="text"
          class="form-control border-teal"></textarea>
        <div class="text-danger" *ngIf="description.invalid && description.touched">
          No napisz no
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-success" type="submit" [disabled]="form.invalid">Zapisz</button>
        <button class="btn btn-secondary" type="button" (click)="discard()" >Wycofaj</button>
      </div>
    </form>
  </div>

  <div *ngIf="title.valid" class="col-6">
    <div class="card">
      <img *ngIf="imageUrl.valid" [src]="goal.imgUrl" class="card-img-top" alt="Not Found" />
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5>{{ goal.title }}</h5>
          <h5>{{ goal.localization }}</h5>
        </div>
        <div *ngIf="goal.dateOfRealization" class="d-flex justify-content-between">
          <div>Data</div>
          <div>{{ goal.dateOfRealization }}</div>
        </div>
        <div *ngIf="goal.rating">Ocena:
          <mat-icon *ngFor="let _ of fullStar">favorite</mat-icon>
          <mat-icon *ngFor="let _ of emptyStar">favorite_border</mat-icon>
        </div>
        <div *ngIf="goal.rating">Odczucia: {{ goal.feelings }}</div>
      </div>
    </div>
  </div>
</div>
