<mat-dialog-content>
  <div class="card">
    <img [src]="goal.imgUrl" class="card-img-top" alt="Not Found" />
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 >{{ goal.title }}</h3>
        <h3>{{ goal.localization }}</h3>
      </div>
      <div *ngIf="goal.status == 1">
        <div class="d-flex justify-content-between">
          <h5 >Zrealizowane</h5>
          <h5>{{ goal.dateOfRealization | date:'mediumDate' }}</h5>
        </div>

        <h5>Ocena:&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-icon *ngFor="let _ of fullStars">favorite</mat-icon>
          <mat-icon *ngFor="let _ of emptyStars">favorite_border</mat-icon>
        </h5>

        <p>Odczucia: {{ goal.feelings }}</p>
      </div>
      <p class="card-text pt-4">{{ goal.description }}</p>
    </div>
  </div>
</mat-dialog-content>
<button matDialogClose="Ok" mat-button>Close</button>
